body
{
    margin: 0;
}

header
{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    height:120px;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: #add8e6;
}

#shop
{
    margin-top: 20px;
    background-color: lightblue;
}

#calc
{
    margin-top: 20px;
    background-color: lightblue;
}

#main
{
    width:100%;
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 20px;
    height:120px;
    right: 0;
    left: 0;
    margin-right: 0;
    padding-right: 0;
}

.logo
{
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.container
{
    display: flex;
    flex-direction: column;
}

.container nav
{
    text-align: left;
    width: 100%;
    order: 0;
}

.menu nav ul
{
    list-style-type: disc;
    display: inline-grid;
}

.menu
{
    order: 0;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
}

.menu a
{
    text-decoration: none;
    margin: 10px;
}

#references
{
    order: 0;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
}

#table
{
    order: 1;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
}

table
{
    background-color: #ff0000;
}

.odd
{
    background-color: white;
}

caption
{
    caption-side: bottom;
    text-align: right;
}

#form
{
    order: 0;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
}

footer
{
    width: 100%;
    background-color: lightblue;
}

@media screen and (min-width: 800px)
{
    #main
    {
        max-width: 800px;
        margin: 0 auto;
    }

    .container
    {
        max-width: 800px;
        margin: 0 auto;
    }

    .menu
    {
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        order: 0;
    }

    .menu nav
    {
        text-align: center;
    }

    .menu nav ul
    {
        list-style-type: none;
        display: inline-flex;
    }

    #references
    {
        margin: 0 auto;
        margin-top: 40px;
        order: 0;
    }

    #table
    {
        margin: 0 auto;
        margin-top: 40px;
        order: 0;
    }

    #form
    {
        margin: 20px auto;
        margin-top: 40px;
        order: 1;
    }
}
